div.grid{
  margin-bottom: 20px;
  div.item{
    cursor: pointer;
    img.cover:hover{
      opacity:0.7;
      filter:alpha(opacity=70);
    }
    span.name{
      display: block;
      padding-bottom: 0;
    }
    span.artist{
      display: block;
      padding-top: 0;
    }
    hr.line{
      margin-bottom: 0;
      margin-top: 0;
      border: 0;
      background-color: $color__salmon;
      height: 1px;
      width: 5%;
    }
  }
}